In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

In [2]:
installs = pd.read_csv('installs.csv.gzip', compression='gzip')

/home/cecilia/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
installs = installs.drop(['trans_id','click_hash'], axis=1)

In [4]:
installs['created'] = pd.to_datetime(installs['created'])
installs['hora'] = installs['created'].dt.hour
installs['fecha'] = installs['created'].dt.date

In [5]:
# installs.groupby('ref_hash').agg({'ref_hash':'count'})

In [6]:
installs.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,ip_address,device_language,hora,fecha
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,4243443387795468703,3.301378e+18,6,2019-04-24
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,2,2019-04-24
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,8291809486355890410,4.060930e+18,10,2019-04-20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,4006811922873399949,3.301378e+18,21,2019-04-20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,22,2019-04-20

In [38]:
installs['hora'] = installs['hora'].astype('category')
installs.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,ip_address,device_language,hora,fecha
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,4243443387795468703,3.301378e+18,6,2019-04-24
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,2,2019-04-24
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,8291809486355890410,4.060930e+18,10,2019-04-20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,4006811922873399949,3.301378e+18,21,2019-04-20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,22,2019-04-20

In [18]:
from __future__ import division

aplicaciones = installs.groupby(['hora']).agg({'hora':'count'})
aplicaciones.columns = ['cant']
aplicaciones = aplicaciones.reset_index('hora')
app = {}
ap1 = aplicaciones['hora'].to_list()
ap2 = aplicaciones['cant'].to_list()
tamanio = len(installs)
for i in range(len(ap1)):
    app[ap1[i]] = round(ap2[i]/tamanio,5)
print(app)

{0: 0.06496, 1: 0.06698, 2: 0.06673, 3: 0.0615, 4: 0.055, 5: 0.04022, 6: 0.02658, 7: 0.01664, 8: 0.01073, 9: 0.00789, 10: 0.00693, 11: 0.0087, 12: 0.01336, 13: 0.02241, 14: 0.03155, 15: 0.03897, 16: 0.04626, 17: 0.05317, 18: 0.05754, 19: 0.06114, 20: 0.06169, 21: 0.06055, 22: 0.05969, 23: 0.0608}

In [9]:
aplic = installs['hora'].value_counts(normalize=True).nlargest(10)
aplic

1     0.066983
2     0.066727
0     0.064958
20    0.061691
3     0.061502
19    0.061139
23    0.060802
21    0.060551
22    0.059685
18    0.057544
Name: hora, dtype: float64

In [13]:
atribuidos = {'attributed': {True:'1',False:'0'}}
nuevo_installs = installs.replace(atribuidos)
nuevo_installs['hora'] -= nuevo_installs['hora'].replace(aplic)
nuevo_installs.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,ip_address,device_language,hora,fecha
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,0,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,4243443387795468703,3.301378e+18,0.000000,2019-04-24
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,0,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,1.933273,2019-04-24
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,0,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,8291809486355890410,4.060930e+18,0.000000,2019-04-20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,0,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,4006811922873399949,3.301378e+18,20.939449,2019-04-20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,0,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,21.940315,2019-04-20

In [28]:
datetime(2019,1,1,0,0,0)+timedelta(days=3)

datetime.datetime(2019, 1, 4, 0, 0)

In [48]:
#f_installs = pd.DataFrame([installs['hora'],installs['ref_hash']])
f_installs = installs.groupby('ref_hash').agg({'fecha':['min','max']})
f_installs.columns = ['fecha_min','fecha_max']
f_installs = f_installs.reset_index('ref_hash')
f_installs.head()

          ref_hash   fecha_min   fecha_max
0   40621409780134  2019-04-21  2019-04-21
1   41863526108385  2019-04-18  2019-04-18
2   90072729247980  2019-04-24  2019-04-24
3  135153013040192  2019-04-20  2019-04-20
4  161514654074162  2019-04-22  2019-04-22

In [14]:
installs.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,ip_address,device_language,hora,fecha
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,4243443387795468703,3.301378e+18,6,2019-04-24
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,2,2019-04-24
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,8291809486355890410,4.060930e+18,10,2019-04-20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,4006811922873399949,3.301378e+18,21,2019-04-20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,22,2019-04-20

In [17]:
installs_3h = installs[installs['hora'] <3].copy()
installs_3h.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,ip_address,device_language,hora,fecha
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,2,2019-04-24
18,2019-04-21 00:32:25.753,1,1494519392962156891,8656596934684770487,False,True,6287817205707153877,NaN,6.140637e+18,adjust.com,NaN,0f5189e1-abf6-4fd9-a23e-37458f6108d0,app_open,NaN,277874537666930762,3.301378e+18,0,2019-04-21
19,2019-04-21 00:36:11.130,1,1494519392962156891,8148610266993068424,False,True,6287817205707153877,NaN,2.664299e+18,adjust.com,NaN,8217c8b4-9a8a-47f1-ab9a-9c87c58ac44c,app_open,NaN,5988038091440212562,3.301378e+18,0,2019-04-21
20,2019-04-21 00:09:09.134,1,1494519392962156891,4911791893132729890,False,True,6287817205707153877,NaN,5.544094e+18,adjust.com,NaN,d3577116-4784-472c-8db1-df332f969aa7,app_open,NaN,1093512355487296091,3.301378e+18,0,2019-04-21
28,2019-04-19 00:45:28.698,1,1494519392962156891,883157949340841699,False,True,6287817205707153877,NaN,2.664299e+18,adjust.com,NaN,83c8f67b-7e53-45c9-8d3b-f14321f1fe08,app_open,NaN,1488151929201640932,3.301378e+18,0,2019-04-19

In [21]:
installs_3h['hora'] = installs_3h['hora'].astype('category')
installsDummies = pd.get_dummies(installs_3h['hora'], prefix = 'hora')
installsDummies.head()

    hora_0  hora_1  hora_2
1        0       0       1
18       1       0       0
19       1       0       0
20       1       0       0
28       1       0       0

In [24]:
installs_3h = pd.concat([installs_3h, installsDummies], axis=1)
installs_3h.head()

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,...,fecha,hora_0,hora_1,hora_2,hora_0,hora_1,hora_2,hora_0,hora_1,hora_2
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,...,2019-04-24,0,0,1,0,0,1,0,0,1
18,2019-04-21 00:32:25.753,1,1494519392962156891,8656596934684770487,False,True,6287817205707153877,NaN,6.140637e+18,adjust.com,...,2019-04-21,1,0,0,1,0,0,1,0,0
19,2019-04-21 00:36:11.130,1,1494519392962156891,8148610266993068424,False,True,6287817205707153877,NaN,2.664299e+18,adjust.com,...,2019-04-21,1,0,0,1,0,0,1,0,0
20,2019-04-21 00:09:09.134,1,1494519392962156891,4911791893132729890,False,True,6287817205707153877,NaN,5.544094e+18,adjust.com,...,2019-04-21,1,0,0,1,0,0,1,0,0
28,2019-04-19 00:45:28.698,1,1494519392962156891,883157949340841699,False,True,6287817205707153877,NaN,2.664299e+18,adjust.com,...,2019-04-19,1,0,0,1,0,0,1,0,0