In [1]:
import pandas as pd
import numpy as np

### Creo archivo que contenga solo las ids

In [2]:
target = pd.read_csv("target_competencia_ids.csv")

In [3]:
ids = []
for i in target['ref_hash']:
    if i[:-3] not in ids:
        ids.append(i[:-3])
ids = pd.DataFrame(ids)

In [4]:
ids.columns = ['ref_hash']
ids['segundos'] = 0

In [7]:
ids.to_csv('ids.csv', index=False)
print(ids.shape)
ids.head()

(4037, 2)

              ref_hash  segundos
0  1000169251625791246         0
1  1000395625957344683         0
2  1003027494996471685         0
3  1006670001679961544         0
4  1007573308966476713         0

### Junto los archivos con las predicciones

In [5]:
pred_st = pd.read_csv('prediccion_st_2426.csv')
pred_st.head()

             obj         ref_hash
0  180007.078125   69039685746313
1  149844.390625  345999128501141
2   25122.697266  360710529886978
3  133977.546875  365882020742330
4  101252.687500  416301579449694

In [6]:
pred_sc = pd.read_csv('prediccion_sc_2426.csv')
pred_sc.head()

             obj         ref_hash
0  245021.937500   41863526108385
1  242916.953125   69039685746313
2  256530.015625   90072729247980
3  247576.328125  161514654074162
4  247917.562500  168103949904656

In [7]:
pred_st['ref_hash'] = pred_st['ref_hash'].astype('str')
pred_sc['ref_hash'] = pred_sc['ref_hash'].astype('str')

In [8]:
pred_st = pred_st[pred_st['ref_hash'].isin(ids['ref_hash'])]
pred_sc = pred_sc[pred_sc['ref_hash'].isin(ids['ref_hash'])]

In [9]:
pred_st['ref_hash'] = pred_st['ref_hash']+'_st'
print(pred_st.shape)
pred_st.head()

(4037, 2)

               obj              ref_hash
28    95322.367188   1037575899869926_st
154   68051.039062   4700892528469466_st
168  138121.265625   4920567832392301_st
380  176465.500000  11222455493472018_st
441  106299.625000  12710129175666777_st

In [10]:
pred_sc['ref_hash'] = pred_sc['ref_hash']+'_sc'
print(pred_sc.shape)
pred_sc.head()

(4037, 2)

               obj              ref_hash
23   251926.765625   1037575899869926_sc
105  241834.484375   4920567832392301_sc
176  250878.937500   8624897563799496_sc
258  255169.031250  12710129175666777_sc
261  244577.593750  12880076216702587_sc

In [11]:
prediccion = pred_st.append(pred_sc)
prediccion = prediccion[['ref_hash','obj']]
prediccion = prediccion.sort_values('ref_hash')
print(prediccion.shape)
prediccion.head()

(8074, 2)

                      ref_hash            obj
21334   1000169251625791246_sc  247673.265625
35649   1000169251625791246_st   74687.453125
247885  1000395625957344683_sc  133058.187500
35656   1000395625957344683_st   71528.640625
21393   1003027494996471685_sc  242916.953125

In [12]:
prediccion.to_csv('target.csv', index=False)

In [13]:
p = pd.read_csv('target.csv')
p.head()

                 ref_hash            obj
0  1000169251625791246_sc  247673.265625
1  1000169251625791246_st   74687.453125
2  1000395625957344683_sc  133058.187500
3  1000395625957344683_st   71528.640625
4  1003027494996471685_sc  242916.953125