In [3]:
import pandas as pd
import numpy as np

### Creo archivo que contenga solo las ids

In [4]:
target = pd.read_csv("target_competencia_ids.csv")

In [5]:
ids = []
for i in target['ref_hash']:
    if i[:-3] not in ids:
        ids.append(i[:-3])
ids = pd.DataFrame(ids)

In [6]:
ids.columns = ['ref_hash']
ids['segundos'] = 0

In [7]:
ids.to_csv('ids.csv', index=False)
print(ids.shape)
ids.head()

(4037, 2)

              ref_hash  segundos
0  1000169251625791246         0
1  1000395625957344683         0
2  1003027494996471685         0
3  1006670001679961544         0
4  1007573308966476713         0

### Junto los archivos con las predicciones

In [16]:
pred_st = pd.read_csv('prediccion_st_2426.csv')
pred_sc = pd.read_csv('prediccion_sc_2426.csv')

In [17]:
pred_st['ref_hash'] = pred_st['ref_hash'].astype('str')
pred_sc['ref_hash'] = pred_sc['ref_hash'].astype('str')

In [18]:
pred_st = pred_st[pred_st['ref_hash'].isin(ids['ref_hash'])]
pred_sc = pred_sc[pred_sc['ref_hash'].isin(ids['ref_hash'])]

In [19]:
pred_st['ref_hash'] = pred_st['ref_hash']+'_st'
print(pred_st.shape)
pred_st.head()

(4037, 2)

               obj              ref_hash
28   138895.921875   1037575899869926_st
154  150771.343750   4700892528469466_st
168  179882.218750   4920567832392301_st
380  192173.296875  11222455493472018_st
441  170775.531250  12710129175666777_st

In [20]:
pred_sc['ref_hash'] = pred_sc['ref_hash']+'_sc'
print(pred_sc.shape)
pred_sc.head()

(4037, 2)

               obj              ref_hash
23   252183.531250   1037575899869926_sc
105  244330.484375   4920567832392301_sc
176  250670.062500   8624897563799496_sc
258  255484.156250  12710129175666777_sc
261  244250.437500  12880076216702587_sc

In [24]:
prediccion = pred_st.append(pred_sc)
prediccion = prediccion[['ref_hash','obj']]
prediccion = prediccion.sort_values('ref_hash')
print(prediccion.shape)
prediccion.head()

(8074, 2)

                      ref_hash            obj
21334   1000169251625791246_sc  247429.984375
35649   1000169251625791246_st  135678.125000
247885  1000395625957344683_sc  134151.640625
35656   1000395625957344683_st  139248.578125
21393   1003027494996471685_sc  243818.859375

In [25]:
prediccion.to_csv('target.csv', index=False)

In [ ]:
p = pd.read_csv('tar')